.menu-primary-enter {
  transform: translateY(-100%);
  opacity: 0;
}
.menu-primary-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 300ms ease-in-out;
}
.menu-primary-exit {
  transform: translateY(0);
  opacity: 1;
}
.menu-primary-exit-active {
  transform: translateY(-100%);
  opacity: 0;
  transition: all 300ms ease-in-out;
}
